body {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
}
.page-wrapper.with-navbar>.content-wrapper {
    top: 6rem;
}
.calculator-row .col-md {
    max-width: 350px;
}
.form-control {
    margin-bottom: 15px;
    padding: 2.6rem 2rem;
}
input[type=number]:hover::-webkit-inner-spin-button,
input[type=number]:focus::-webkit-inner-spin-button {  
    margin-right: -15px;
    height: 25px;
    padding: 10px;
    cursor: pointer;
    opacity: 0.7;
    filter: invert();
}
.results-table .week td {
    font-size: 1.4rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
.light-dark-btn {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: table;
}
@media (min-width: 768px) {
    .page-wrapper.with-navbar>.content-wrapper {
        top: 8rem;
    }
}

@media (min-width: 1600px) {
    .calculator-row .col-md {
        max-width: 370px;
    }
}

@media (min-width: 1920px) {
    .calculator-row .col-md {
        max-width: 390px;
    }
}